.topbar .trunghieu{float:right;margin: -11px;margin-right: 10px;padding:0;list-style:none;}



.comment-list .reply{
    margin-right: 100%
}
.testthumb {
     width: 600px;
     height: 437px;
     background-color: #3e3e3e;
     background-image: none;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
 }
.disabled{
    pointer-events: none;
    
}
.wrapper1 {
    text-align: center;
}
.notify-badge{
    position: absolute;
    right: 80px;
    top: -8px;
    background: red;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    color: white;
    padding: 1px 2px;
    font-size: 10px;
    border: 1.5px solid #ffffff;
}
.uncheck{
    background-color: #EDF2FA;
}
