<!DOCTYPE html>
<html lang="vi">

<%include layouts/css%>

<body>
    
    <!--menu mobile-->
    <%include layouts/menumobile%>
    <!--page-->
    <div class="page">
        <div class="wrap">
            <!--topbar-->
            <%include layouts/topBar%>
            <!--header-->
            
            <%include layouts/header%>
            <!--cols-->
            <div class="cols cols-full">
                <!--colleft-->
                <div class="colleft">
                    <!--detail -->
                    <div class="page-404 box">
                        <h1>
                            <span>4</span>
                            <i class="fa fa-frown-o"></i>
                            <span>4</span>
                        </h1>
                        <p>Oops! Xin lỗi trang này không tồn tại. Trở về HOME?</p>
                        <a href="/" class="my-btn">Quay trở về Home</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--footer-->
        
        <!--footer-->
        <%include layouts/footer%>
    </div>
    <!--scrip file-->
    <%include layouts/js%>
</body>


</html>