<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trang CNTT - Chia Sẻ">
    <meta name="author" content="TrungHieuK40">
    <meta name="skype" content="TrungHieuK40">
    <title>Trung Hiếu IT - <%=title%></title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="/Web/images/man02.png">
    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
    <!-- Vender -->
    <link href="/Web/css/ionicons.min.css" rel="stylesheet" />
    <link href="/Web/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Web/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Web/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Web/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Main CSS  -->
    <link href="/Web/css/main.min.css" rel="stylesheet" />
    <link href="/Web/css/test.css" rel="stylesheet" />
    <link href="/Web/css/css-loader.css" rel="stylesheet" />
    <link href="/Web/css/froala_style.min.css" rel="stylesheet" />
    <link href="/Web/css/material.css" rel="stylesheet" />
    
    
   
    
</head>