
<footer class="footer">
    <div class="wrap">
        <div class="box-site-info">
            <a href="#" class="logo">
                <img alt="" src="/Web/images/logo.png" />
            </a>
            <ul class="social-company">



            </ul>
            <ul class="menu-footer">

            </ul>
        </div>
    </div>
    <div class="allright">
        <p>Copyright © 2017 version v1.0 TrungHieu. Thiết kế bởi <a target="_blank">TrungHieuK40A</a>.</p>
    </div>
</footer>
