<script src="/Web/js/jquery.min.js"></script>
<script src="/Web/js/bootstrap.min.js"></script>
<script src="/Web/js/isotope.pkgd.min.js"></script>
<script src="/Web/js/owl.carousel.min.js"></script>
<script src="/Web/js/jquery.matchHeight.js"></script>
<script src="/Web/js/jquery.matchHeight.min.js"></script>
<script src="/Web/js/jquery.fancybox.min.js"></script>
<script src="/Web/js/main.js"></script>
<script src="/Web/js/checknoti.js"></script>
<script src="/Web/js/bootstrap-slider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/vi.js"></script>

<script src="/Web/js/material.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/Web/js/holder.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {

            $('.nd-carrer').addClass("show-nd-carrer");
        }, 7000);
        $('.nd-carrer-close').click(function () {
            $('.nd-carrer').removeClass("show-nd-carrer");
        });
    });
</script>
<script src="/Web/js/scrolls.js"></script>
<script type="text/javascript">
    var conf = {
        bgColor: "#4F8EF2",
        hoverColor: "#007FEF",
        opacity: 1
    };

    scroller.init();
</script>


<div class="loader loader-default" id="load"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">